.container{
    padding: 0 1.5rem;;
}
.datagridNotices{
    width: 610px;
}

@media(max-width:800px){
    .datagridNotices{
        width:100%;
    }
}

.datagridBranch{
    width: 1150px;
}

@media(max-width:1400px){
    .datagridBranch{
        width:100%;
    }
}

.datagridPastHire{
    width: 1210px;
}

@media(max-width:1400px){
    .datagridPastHire{
        width:100%;
    }
}

.datagridCompany{
    width: 1130px;
}

@media(max-width:1300px){
    .datagridCompany{
        width:100%;
    }
}

.datagridMasterCompany{
    width: 1000px;
}

@media(max-width:1000px){
    .datagridMasterCompany{
        width:100%;
    }
}

.datagridStats{
    width: 1150px;
}

@media(max-width:1200px){
    .datagridStats{
        width:100%;
    }
}

.datagridAttendance{
    width: 1410px;
}

@media(max-width:1200px){
    .datagridAttendance{
        width:100%;
    }
}

.datagridResume{
    width: 1310px;
}

@media(max-width:1200px){
    .datagridResume{
        width:100%;
    }
}

.datagridIndex{
    width: 1110px;
}

@media(max-width:1150px){
    .datagridIndex{
        width:100%;
    }
}

.datagridCompanyAll{
    width:1200px;
}

@media(max-width:1250px){
    .datagridCompanyAll{
        width:100%;
    }
}

.datagridCompanyStudent{
    width:1100px;
}

@media(max-width:1150px){
    .datagridCompanyStudent{
        width:100%;
    }
}

.datagridProformaSection{
    width: 850px;
}

@media(max-width:1000px){
    .datagridProformaSection{
        width:100%;
    }
}