.container{
    padding: 0 1.5rem;;
}
.datagridNotices{
    width: 610px;
}

@media(max-width:800px){
    .datagridNotices{
        width:100%;
    }
}

.datagridBranch{
    width: 1150px;
}

@media(max-width:1400px){
    .datagridBranch{
        width:100%;
    }
}

.datagridPastHire{
    width: 1210px;
}

@media(max-width:1400px){
    .datagridPastHire{
        width:100%;
    }
}

.datagridCompany{
    width: 1130px;
}

@media(max-width:1300px){
    .datagridCompany{
        width:100%;
    }
}

.datagridMasterCompany{
    width: 1000px;
}

@media(max-width:1000px){
    .datagridMasterCompany{
        width:100%;
    }
}