.container{
    padding: 0 1rem;;
}
.datagridNotices{
    width: 610px;
}

@media(max-width:800px){
    .datagridNotices{
        width:100%;
    }
}

.datagridBranch{
    width: 1150px;
}

@media(max-width:1400px){
    .datagridBranch{
        width:100%;
    }
}

.datagridPastHire{
    width: 1210px;
}

@media(max-width:1400px){
    .datagridPastHire{
        width:100%;
    }
}