.container {
    padding: 0 2rem;
  }

.datagridApplications{
    width:1100px;
}

.datagridApplication{
    width:1500px;
}

@media(max-width:1500px){
    .datagridApplications{
        width:90%;
    }
}

@media(max-width:1800px){

    .datagridApplication{
        width:90%;
    }
}