.mobileContainer{
    display:none;
}

.container{
    width: 300px;
}

@media(max-width: 1750px){
    .container{
        width: 250px;
    }
}

@media(max-width: 1300px){
    .container{
        width: 200px;
    }
}

@media(max-width: 1200px){
    .container{
        display:none;
    }

    .mobileNav{
        display: none;
    }

    .mobileContainer{
        padding: 20px;
        display:block;
    }
}

