.container{
    width: 300px;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}

.container::-webkit-scrollbar { 
    display: none;
}

.drawer{
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}

.drawer::-webkit-scrollbar { 
    display: none;
}

@media(max-width: 1750px){
    .container{
        width: 250px;
    }
}


@media(max-width: 1535.6px){
    .container{
        display:none;
    }
}

