.container {
    padding: 0 2rem;
  }

.datagridApplications{
    width:1160px;
}
@media(max-width:1200px){
    .datagridApplications{
        width:100%;
    }
}


.datagridApplication{
    width:1500px;
}


@media(max-width:1800px){
    .datagridApplication{
        width:90%;
    }
}

.datagridOpenings{
    width:1100px;
}


@media(max-width:1500px){

    .datagridOpenings{
        width:90%;
    }
}

.datagridResume{
    width:1000px;
}

@media(max-width:1300px){
    .datagridResume{
        width:100%;
    }
}

.datagridProforma{
    width:1000px;
}

@media(max-width:1300px){
    .datagridProforma{
        width:100%;
    }
}