on:
  pull_request:
    branches:
      - main
jobs:
  test:
    name: Check Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - name: Install Packages
        run: npm install --legacy-peer-deps
      - name: Lint Check
        run: npm run lint